/* STYLE FILE */

/******************************** REGOLE GENERALE TUTTA PAGINA *********************************/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration: none;
}

/* CLERAFIX */
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/******************************** HEADER ************************************/


/* NAVIGATOR GENERALE */
nav{
  height: 100px;
}

/************** BARRA NAVIGAZIONE FIXED ****************/
#navfixed{
  background-color: #edffff;
  padding: 1% 20%;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
}

/* BARRA SX FIXED */
#SX_NavFixed{
  line-height: 55px;
  float: left;
}

#SX_NavFixed a{
  padding: 0% 15px;
}

/* BARRA DX FIXED */
#DX_NavFixed{
  line-height: 55px;
  float: right;
}

#DX_NavFixed > *{
  padding: 10px 20px;
}

/*********************BARRA NAVIGAZIONE FREE **************/
#navfree{
  padding: 100px 20%;
}

/* LOGO A SINISTRA */
#LOGO{
  line-height: 115px;
  float: left;
}

#LOGO img{

}

/* NAVIGATORE LISTA A DESTRA */
#ListaFree{
  line-height: 100px;
  float: right;
  display: inline-block;
}

#ListaFree h3{
  display: inline;
  padding: 0 20px;
}

/********************* JUMBOTRON **************************/
#jumbotron{
  height: 925px;
  background-image: url("../img/jumbotron.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#JumboText{
  padding: 3% 60% 0 20%;
}

#JumboText h1{
  line-height: 25px;
  margin-bottom: 30px;
}

#JumboText p{
  line-height: 25px;
  margin-bottom: 30px;
}

#JumboText button{
  line-height: 25px;
  margin-bottom: 30px;
}

/******************************PARTE CENTRALE  ****************************/

main{

}

/********* Blocco informativo hub about ***********/

#HubAbout{
  /* DEBUG:  */
  height: 500px;
  background-color: lightgrey;
  border: 2px solid black;
  /* DEBUG:  */
}
